* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
p {
  color: #777;
}
img {
  max-width: 100%;
}
.section-padding {
  padding: 50px 0;
}
.name-highlight {
  color: orange;
}

.welcome-area {
  background-image: url('assets//img/top-banner.png');
  background-repeat: no-repeat;
  height: 470px;
}
.welcome-area .title {
  margin-top: 50px;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}

.half-width h1 {
  font-size: 39px;
  line-height: 1.6;
}

.welcome-description {
  margin-top: 70px;
}

.welcome-description h3 {
  font-size: 22px;
  margin-bottom: 12px;
}

.link-btn {
  text-decoration: none;
  background-image: linear-gradient(45deg, orange, tomato);
  padding: 10px 30px;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 20px;
}

.second-area-desc {
  margin-top: 50px;
  line-height: 1.7;
}
.second-area {
  background-image: url('assets/img/dream-bg.png');
  background-repeat: no-repeat;
  background-position: right;
  height: 470px;
}
.second-area-desc .link-btn {
  margin-top: 30px;
}
.second-area h3 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #000;
}

.second-area h4 {
  font-size: 21px;
  margin-bottom: 10px;
  color: #222;
}

.section-title h2 {
  text-align: center;
  margin-bottom: 35px;
  font-size: 35px;
}

.orange-color {
  color: orange;
}

.experience-area h1 {
  margin-bottom: 20px;
}

.experience-area h4 {
  margin-bottom: 15px;
}
.experience-area {
  height: 350px;
  background-image: url('assets/img/exp-bg.png');
  background-repeat: no-repeat;
  background-position: left;
}

.experience-area .half-width {
  background: rgba(255, 255, 255);
  padding: 40px 25px;
  border-radius: 5px;
  box-shadow: 5px 10px 40px grey;
  min-height: 250px;
}
.footer-area {
  margin-top: 80px;
  text-align: center;
  margin-bottom: 5px;
}

#fullstack {
  border-left: 7px solid;
  border-image: linear-gradient(lightsalmon, tomato);
  border-image-slice: 1;
}
#babydev {
  border-image: linear-gradient(145deg, blue, tomato);
  border-left: 7px solid;
  border-image-slice: 1;
}
